.upload {
    background: #f0f0f0;
    background-size: 30px 30px;
    background-image: linear-gradient(-45deg, #fafafa 25%, transparent 25%, transparent 50%, #fafafa 50%, #fafafa 75%, transparent 75%, transparent);
    animation: stripes 2s linear infinite;
}